* {
  opacity: 1;
}

svg {
  // margin-left: 50px;
  width: 10%;
}

select {
  -webkit-box-shadow: inset 14px 19px 17px 5px rgba(138,134,138,0.67);
-moz-box-shadow: inset 14px 19px 17px 5px rgba(138,134,138,0.67);
box-shadow: inset 14px 19px 17px 5px rgba(138,134,138,0.67);
  background: transparent;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5%;
  height: 34px;
  -webkit-appearance: none;
  width: 100%;
  margin: 2%;
  background-image: url('whiteStone.jpg');
}



.colorButton{
  width: 19%;


}

// .White {
//
//   &:hover{
//     background-color: white;
//   }
// }
//
// .Blue {
//
//   &:hover{
//     background-color: blue;
//     color: lightblue;
//   }
// }
//
// .Red {
//
//   &:hover{
//     background-color: red;
//   }
// }
//
// .Green {
//
//   &:hover{
//     background-color: green;
//     color: gold;
//   }
// }
//
// .Black {
//
//   &:hover{
//     background-color: black;
//     color:white;
//   }
// }

.Common {
  background-color: rgba(2,0,0,0.5);
  color: white;
  &:hover {
    background-color: sienna;
    color: black;
  }
}

.RedClick{
  @extend .Red:hover;
}

.BlueClick{
  @extend .Blue:hover;
}

.WhiteClick{
  @extend .White:hover;
}

.GreenClick{
  @extend .Green:hover;
}

.BlackClick{
  @extend .Black:hover;
}

.CommonClick {
  @extend .Common:hover;
}

.UncommonClick {
  @extend .Uncommon:hover;
}

.RareClick {
  @extend .Rare:hover;
}

.MythicalClick {
  @extend .Mythical:hover;
}



.Uncommon {
  background-color: rgba(2,0,0,0.5);
  color: white;
  &:hover {
    background-color: grey;
  }
}

.Rare {
  background-color: rgba(2,0,0,0.5);
  color: white;
  &:hover {
    background-color: gold;
    color: black;
  }
}

.Mythical {
  background-color: rgba(2,0,0,0.5);
  color: white;
  &:hover {
    background-color: silver;
    color: black;
  }
}
